{{ set(this, 'title', 'CatBasic') }}

<div class="main">
  <div class="searchform">
    <form action="index.php?r=site%2Fsearch" method="GET">
      <div class="form-group">
        <label for="search">Search</label>
        <input type="hidden" name="r" value="site/search">
        <input class="form-control" id="search" name="breed" placeholder="Search a breed">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <ul class="cards">
      {% for cat in cats %}
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="{{ cat.url }}"></div>
                <div class="card_content">
                <h2 class="card_title">{{ cat.breeds[0].name }}</h2>
                <p class="card_text">{{ cat.breeds[0].description }}</p>
                <a href="{{ url(['detail'], {'breed_id' : cat.breeds[0].id }) }}">
                  <button class="btn card_btn">Read More</button>
                </a>
                </div>
            </div>
        </li>
    {% else %}
        No cats have been found.  
    {% endfor %}
  </ul>
</div>